# node modules
node_modules

# build folders
dist
build

# environment files
.env
client/.env
server/.env

# IDE / OS files
.idea
.vscode
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*